ul {
    padding: 0;
    list-style-type: none;
    font: 13px arial, sans-serif;
}

a:link {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

a:visited {
    color: rgb(71, 71, 71);
}

a:hover {
    text-decoration: underline;
}

#googleapps {
    filter: contrast(10%);
}

#googleapps:hover {
    filter: contrast(100%);
}

#signin {
    padding: .55em 1em .55em .95em;
    background-color: rgb(65, 133, 211);
    color:rgb(255, 255, 255);
    border-style: none;
    border-radius: 2.5px;
    font-weight: 800;
    font-size: 13px;
}

#signin:focus {
    outline: none;
}

#navbar {
    position: fixed;
    width: 100vw;

}

#nav1 {   
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.45em;
    float: left;
    align-items: center;
    width: auto;
    margin: 0.5% 0 0 0.87%;
}

#nav2 {
    display: grid;
    grid-template-columns: .70fr .9fr .5fr 1fr;
    column-gap: .25em;
    float: right;
    align-items: center;
    width: auto;
    margin: 0.18% 2% 0 0;
}

.googleblock {
    display: flex;
    align-items: center;
    justify-content: center;
}

#googlesubmit {
    color: #5F6368;
    margin: 4px;
    padding: 10px;
    width: 9em;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

#googlesubmit:hover {
    border: 1px solid #9c9c9c;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#googlelucky {
    color: #5F6368;
    margin: 4px;
    padding: 10px;
    width: 10em;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}

#googlelucky:hover {
    border: 1px solid #9c9c9c;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

#searchbar {
    position: relative;
    bottom: 2px;
}

#searchbuttons {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 2%;
    position: relative;
    right: 9px;
    bottom: 7px;
}

#googlesearch {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50.1%, -97.5%);
    display: grid;
    row-gap: 6px;
    grid-template-rows: 2fr 2fr 1fr;
}

#search {
    width: 583px;
    height: 46px;
    font-size: 16px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 24px;
    padding: 0 50px 0 50px;
}

#search:hover {
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.20)
}

#search:focus {
    outline: none;
}

#searchicon {
    position: absolute;
    align-items: flex-end;
}

#aboutus {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(240, 240, 240);
}

#footer1 {
    display: grid;
    grid-template-columns: 2.5em 1.55em 9em;
    column-gap: 4.4em;
    float: left;
    align-items: center;
    font-size: 14px;
    width: auto;
    margin: 0 0 12px 30px;
}

#footer2 {
    display: grid;
    grid-template-columns: 1.18fr 1fr 1fr;
    column-gap: 1em;
    float: right;
    align-items: center;
    font-size: 14px;
    width: auto;
    margin: 0 30px 0 0;
}